body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: auto;
}

.logo {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

nav {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: seashell;
}

.content {
    display: flex;
    flex-direction: column;
}

#mission {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-image: url("../media/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.mission-titles {
  width: 1200px;
  background-color: black;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.gallery-img img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}


#locations {
  height: 500px;
  width: 1200px;
  align-self: center;
  background-image: url("../media/img-locations-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#locations h2 {
  margin-bottom: 15px;
}

.directions {
  display: flex;
  justify-content: center;
}

.stores {
  width: 300px;
  margin: 0 20px;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.stores span {
  margin-bottom: 8px;
}

footer {
  height: 200px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.copyright {
  text-align: left;
}
